<br>
<div (click)="selectionEvent.emit(data.id)" class="card text-white" style="background-image: linear-gradient(to right, {{ getTypeColour(data.types[0]) }} 50%, {{ getTypeColour(data.types[data.types.length > 1 ? 1 : 0]) }} 50%)">
  <div class="card-body">
    <h6 class="card-title text-center">#{{ data.id | number:'3.0' }}</h6>
      <h6 class="text-center">{{ data.name | titlecase }}</h6>
    <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ data.id }}.png" alt="{{ data.name | titlecase }}">
  </div>
</div>