<style>
.grass-poison {
  background-image: linear-gradient(to right, #78c850, #a040a0);
}

.poison-grass {
  background-image: linear-gradient(to right, #a040a0, #78c850);
}
</style>

<div class="col-lg-2">
  <br>
  <div class="card">
    <div class="card-body">
      <h6 class="card-title text-center">#{{ pokedexNumber }}</h6>
      <img class="card-img-top" style="width: 64px; height: 64px;" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokedexNumber }}.png" alt="{{ pokedexNumber }}">
    </div>
  </div>
</div>